<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="styles/assets/kick.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Karate Tournament</title>
</head>

<body>

    <div id="app">
        <div class="home" id="home" v-if="page === 'home'">
            <div class="container-fluid">
                <div class="home">
                    <div class="row">
                        <div class="col-12 title">
                            <h1>Karate Tournament</h1>
                        </div>
                    </div>
                    <div class="row icon">

                        <div class="col-6 col-sm-4 test fadeIn">

                            <p class="picon" id="team">Teams</p>

                            <div class="cercle teams fadeIn" v-on:click='swap("teams")'>
                                
                            </div>

                        </div>
                        <div class="col-6 col-sm-4 test fadeIn">
                            <p class="picon">Schedules</p>
                            <div class="cercle schedule" v-on:click='swap("schedule")'>
                                
                            </div>
                        </div>
                  
                    

                        <div class="col-6 col-sm-4 test fadeIn">
                            <p class="picon">Classification</p>
                            <div class="cercle classification" v-on:click='swap("classification")'>
                                
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 test fadeIn">
                            <p class="picon">Location</p>
                            <div class="cercle maps" v-on:click='swap("location")'>
                                
                            </div>
                        </div>
                  
                    
                        <div class="col-6 col-sm-4 test fadeIn">
                            <p class="picon">History</p>
                            <div class="cercle history" v-on:click='swap("history")'>
                               
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 test fadeIn">
                            <p class="picon">Rules</p>
                            <div class="cercle rules" v-on:click='swap("rules")'>
                               
                            </div>
                        </div>
                    
                    
                        <div class="col-10">
                        </div>
                        <div class="col-2">
                            <img src="styles/assets/loginwhite.png" class="wlogo" v-on:click='swap("login")'>
                        </div>
                    </div>
                </div>
            </div>
         </div>


       <div class=" slide-top" id="teams" v-if="page === 'teams'">
            <div class="home">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 title">
                            <h1>Teams</h1>
                        </div>
                    </div>
                    <div class="bteams">
                        <div class="checkboxes">
                            <input type="checkbox" name="style" value="kumite"> Kumite
                            <input type="checkbox" name="style" value="kata"> Kata
                            <label for="states" class="flex">States</label>
                            <select class="flex" name="states" id="states">
                                <option value="All" selected >All</option>
                                <option value="" v-for="state in states">{{state}}</option>
                            </select>
                            <div class="space"></div>
                        </div>
                        <div class="listteams">
                            <span v-for="(data, index) in teams">
                            <h3>{{data.country}}</h3>
                            <ul>
                               
                                <li v-if="data.kumite.name"> <a data-toggle="collapse" v-bind:href="'#kumite'+index" role="button" aria-expanded="false" v-bind:aria-controls="'kumite'+index" >{{data.kumite.style}}</a>
                                </li>
                                <div class="collapse" v-bind:id="'kumite'+index" >

                                    <ul>
                                        <li v-if="data.kumite.name">{{data.kumite.name}}</li>
                                    </ul>
                                </div>
                                <li v-if="data.kata.style"><a data-toggle="collapse" v-bind:href='"#kata"+index' role="button" aria-expanded="false" v-bind:aria-controls='"kata"+index' >{{data.kata.style}}</a></li>
                                <div class="collapse" v-bind:id='"kata"+index'>
                                    <ul>
                                        <li v-if="data.kata.name">{{data.kata.name}}</li>
                                       
                                    </ul>
                                </div>
                            </ul>
                            </span>
                        
                        </div>
                    </div>
                    <div class="space"></div>

                </div>
            </div>
        </div>

        <div class="slide-top" id="schedule" v-if="page === 'schedule'">
            <div class="home">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12 title">
                            <h1>Schedules</h1>
                        </div>
                    </div>

                    <div class="bteams">


                        <ul>
                            <a data-toggle="collapse" href="#kata" role="button" aria-expanded="false" aria-controls="kata">
                                <h3>Tatami 1</h3>
                            </a>

                            <div class="collapse" id="kata">
                                <span>Kata</span>
                                <ul>
                                    <li>9:00 Gengis Khan (MONG) vs James (BR)</li>
                                    <li>9:30 jhkjhj (SPAIN) vs UHIUHI(IJKH)</li>
                                    <li>9:30 jhkjhj (SPAIN) vs UHIUHI(IJKH)</li>
                                    <li>9:30 jhkjhj (SPAIN) vs UHIUHI(IJKH)</li>
                                    <li>9:30 jhkjhj (SPAIN) vs UHIUHI(IJKH)</li>
                                </ul>
                            </div>
                        </ul>
                        <ul>
                            <a data-toggle="collapse" href="#kata" role="button" aria-expanded="false" aria-controls="kata">
                                <h3>Tatami 2</h3>
                            </a>

                            <div class="collapse" id="kata">

                                <ul>
                                    <li>Damián Quintero</li>
                                </ul>
                            </div>
                        </ul>
                        <ul>
                            <a data-toggle="collapse" href="#kata" role="button" aria-expanded="false" aria-controls="kata">
                                <h3>Tatami 3</h3>
                            </a>

                            <div class="collapse" id="kata">

                                <ul>
                                    <li>Damián Quintero</li>
                                </ul>
                            </div>
                        </ul>

                    </div>
    
                </div>
                <div class="space"></div>
            </div>
        </div>

        <div class="bclassification slide-top" id="classifications" v-if="page === 'classification'">
            <div class="home">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 title">
                            <h1>Classification</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>



       <div class="blocation slide-top" id="location" v-if="page === 'location'">
            <div class="home">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 title">
                            <h1>Location</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class=" slide-top" id="history" v-if="page === 'history'">
            <div class="home">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12 title">
                            <h1>History</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="bhistory">
                            <p>Karate (空手); is a martial art developed in the Ryukyu Kingdom. It developed from the indigenous Ryukyuan martial arts (called te (手), "hand"; tii in Okinawan) under the influence of Chinese Kung Fu, particularly Fujian White Crane. Karate is now predominantly a striking art using punching, kicking, knee strikes, elbow strikes and open-hand techniques such as knife-hands, spear-hands and palm-heel strikes. Historically, and in some modern styles, grappling, throws, joint locks, restraints and vital-point strikes are also taught. A karate practitioner is called a karateka (空手家).

                                The Ryukyu Kingdom was annexed by Japan in 1879. Karate was brought to Japanese archipelago in the early 20th century during a time of migration as Ryukyuans, especially from Okinawa, looked for work in Japan. It was systematically taught in Japan after the Taishō era.[5] In 1922, the Japanese Ministry of Education invited Gichin Funakoshi to Tokyo to give a karate demonstration. In 1924 Keio University established the first university karate club in mainland Japan and by 1932, major Japanese universities had karate clubs. In this era of escalating Japanese militarism, the name was changed from 唐手 ("Chinese hand" or "Tang hand") to 空手 ("empty hand") – both of which are pronounced karate in Japanese – to indicate that the Japanese wished to develop the combat form in Japanese style. After World War II, Okinawa became an important United States military site and karate became popular among servicemen stationed there.
                            </p>

                        </div>
                        <div class="space"></div>
                    </div>

                </div>
            </div>

        </div>



        <div class="brules" id="rules slide-top" v-if="page === 'rules'">
            <div class="home">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12 title">
                            <h1>Rules</h1>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="brules">
                        <div>
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Kata
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>At the beginning of the division all competitors will sit on Aka side of ring.
                                                • All competitors will remain seated in a prescribed order.
                                                • The order of seating may be altered by the Referee to avoid competitors from the same district
                                                competing against each other in the first round only.
                                                • The first two competitors will bow before entering the match area and the next two competitors
                                                will stand up and be on deck.
                                                • Both competitors shall enter the match area and space themselves so as to avoid collision or
                                                interference in the performance of their Kata.
                                                • The competitors will bow and announce their Kata. They shall commence their performance at the
                                                sound of the whistle by the Referee.
                                                • On completion of their Kata, the competitors shall stand side-by-side in the match area and await
                                                the decision from the Panel.
                                                • If the Kata does not conform to the rules, or there is some other irregularity, the Referee may call
                                                the other Judges in order to reach a verdict.
                                                • After completion of both Kata, the Referee shall call for a decision (HANTEI) and blow a two-tone
                                                blast on the whistle. The flags shall be raised at the same time.
                                                • The Referee shall blow a further short blast on the whistle, whereupon the flags shall be lowered.
                                                • The decision shall be for Aka or Shiro. No ties are permitted. The competitor who receives the
                                                majority of votes shall be declared the winner.
                                                • The Referee will then raise the flag for the winner.
                                                • The competitors will then bow to the judging panel and exit the match area.
                                                • The winner will go to the end of the line on the Aka side.
                                                • The defeated competitor will form a line on the Shiro side furthest from the Referee panel.
                                                • The next two competitors will perform their kata in the same manner and will sit behind the
                                                previous competitor in the appropriate line (Winner to Aka side and defeated competitor to Shiro
                                                side).
                                                • The procedure outlined above, will continue until there is only one competitor remaining in the first
                                                round line, who will be the gold medalist.
                                                • The last two competitors remaining will be allowed a one-minute rest period, before beginning the
                                                final match.
                                                • The gold medalist and the last competitor of the first round will sit on the Shiro side of the Referee
                                                panel and be exempt from the second round of elimination. The gold medalist will sit closest to the
                                                Referee panel. </p>
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Show Less
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Kumite
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Competitors are placed into categories according to their weight and maybe their age in the case of junior competitions. All competitors in Karate kumite competitions are required to wear a traditional Karate suit known as a gi and this should be plain and without stripes or embroidery. Instead of wearing the belt colour that signifies their rank, one contestant wears a red belt and the other a blue belt to help distinguish them. Other prescribed pieces of equipment are:

                                                A gum shield
                                                Body protection (and extra chest protection for females)
                                                Shin pads
                                                Foot protectors
                                                Groin guards can be worn but are not mandatory.</p>

                                            <p> Scoring is limited to the following areas of the opponent's body:

                                                Head
                                                Face
                                                Neck
                                                Chest
                                                Abdomen
                                                Side
                                                Back
                                                A score is awarded when one fighter performs a technique that conforms to the following criteria and the blow lands on a relevant scoring area of their opponent’s body:

                                                Good form
                                                Vigorous application
                                                Good timing
                                                Accurate distance
                                                Awareness
                                                Sporting attitude
                                                Fighters can score one, two or three points for attacking techniques:

                                                Ippon (three points) is awarded for:

                                                A jodan kick (kick to upper level)
                                                Any scoring technique performed on a fallen or thrown opponent
                                                Waza-ari (two points) is awarded for:

                                                Chudan (mid level) kicks
                                                Yuko (one point) is awarded for:

                                                Chudan or Jodan Tsuki (mid or upper level punch)
                                                Jodan or Chudan Uchi (mid or upper level punch).</p>
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Show Less
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="space"></div>

                </div>
            </div>
        </div>


        <div id="login" class="slide-top" v-if="page === 'login'">
            <div class="home">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 title">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form action="" method="">
                        <fieldset>
                            <div class="space"></div>
                            <div class="login">
                                <label for="googleacc">Google Account</label>
                                <input class="email" placeholder="Google Account" type="email" name="googleacc" required>
                                <label for="password">Password</label>
                                <input class="password" placeholder="Password" type="text" name="password" required>
                            </div>
                            <div class="submit">
                                <input type="submit" value="submit">
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>


        <div id="navbar" v-if="page !== 'home'">
            <div class="row fixed-bottom footer">
                
                <div class="col-12 col-sm-10">
                    <nav class="navbar navbar-expand-sm navbar-light bg-faded">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation" >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                     
                        <div class="collapse navbar-collapse" id="nav-content" >
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click='swap("home")'>Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click='swap("teams")'>Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click='swap("schedule")'>Schedules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click='swap("classification")'>Classification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click='swap("location")'>Location</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click='swap("history")'>History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click='swap("rules")'>Rules</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                      <a  class="ficons col-sm-2"><img src="styles/assets/login.png" v-on:click='swap("login")'></a>
                </div>
              
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <script src="js/data.js"></script>
 <script src="js/main.js"></script>
  
</body>

</html>
